<nav>
    <li><a href="/">Home</a></li>
    <li>About
      <ul>
              <li><a Welcome-page.html">Welcome</a></li>
      </ul>
    <li>Categories
        <ul>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/testing/2020/11/14/Testing.html">Testing</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/COVID-19-Cases.html">COVID-19-Cases</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/Guidelines-and-Restrictions.html">Guidelines-and-Restrictions</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/Health-Resources.html">Health-Resources</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/Local-Resources.html">Local-Resources</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/Schedule-Course-Changes.html">Schedule-&-Course-Changes</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/Sports.html">Sports</a></li>
            <li><a href="https://camrynbl.github.io/COVID-19-Info-For-Students-by-a-Student/2020/11/20/Traditions.html">Traditions</a></li>
       </ul>
</nav>
