<nav>
    <li><a href="/">Home</a></li>
    <li>About</li>
        <ul>
            <li><a Welcome-page.html">Welcome</a></li>
        </ul>
    <li>Categories</li>
        <ul>
                <li><a href="https://Testing.html">Testing</a></li>
                <li><a href="https://COVID-19-Cases.html">COVID-19-Cases</a></li>
                <li><a href="https://Guidelines-and-Restrictions.html">Guidelines-and-Restrictions</a></li>
                <li><a href="https://Health-Resources.html">Health-Resources</a></li>
                <li><a href="https://Local-Resources.html">Local-Resources</a></li>
                <li><a href="https://Schedule-Course-Changes.html">Schedule-&-Course-Changes</a></li>
                <li><a href="https://Sports.html">Sports</a></li>
                <li><a href="https://Traditions.html">Traditions</a></li>
        </ul>
</nav>
