<nav>
    <li><a href="/about/2020-12-03-Welcome-page.html">Welcome</a></li>
    <li>Categories
        <ul>
                <li><a href="/about/COVID-19-Cases.html">COVID-19 Cases</a></li>
                <li><a href="/about/Testing.html">Testing</a></li>
                <li><a href="/about/Guidelines-and-Resources.html">Guidelines & Resources</a></li>
                <li><a href="/about/Schedule-Course-Changes.html">Schedule & Course Changes</a></li>
                <li><a href="/about/Health-Resources.html">Health Resources</a></li>
                <li><a href="/about/Local-Resources.html">Local Resources</a></li>
                <li><a href="/about/Sports.html">Sports</a></li>
                <li><a href="/about/Traditions.html">Traditions</a></li>
        </ul>
</nav>
