---
---

@import "{{ site.theme }}";

.sidebar {
    padding: 10px 50px 30px 0;
}

.text-center {
	text-align: center
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.test-maroon {
	color: #772525
}

.text-green-blue {
	color: #327485
}

.text-navy-blue {
	color: #243134
}

.text-dark-blue {
	color: #161615
}
